@use "../../styles/partials/colors" as color;
@use "../../styles/partials/breakpoints" as breakpoint;
.hero {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  background-color: black;
  &__video {
    width: 100vw;
    max-height: 35rem;
    aspect-ratio: 16/9;
  }
}

// @include breakpoint.large {
//   .hero__video {
//     aspect-ratio: 16/9;
//   }
// }
