@use "../../styles/partials/colors" as color;
.herovideo {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;

  &__container {
    width: 100vw;
    height: 10rem;
    //background-color: color.$color-videoplayer-sec;
    &-video {
      width: 100%;
      max-height: 35rem;
      aspect-ratio: 16/9;
    }
  }
  &__wrapper {
    width: 90%;
    position: relative;
    top: -30rem;
    margin: 0 auto;
    gap: 1rem;
  }
}
