@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as color;
@use "../../styles/partials/fonts" as *;

.comments__tag {
  padding: 0 1rem;
  font-weight: 600;
  margin: 0;
}
.form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  &__avatar {
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    flex-shrink: 0;
  }
  &__container-btn {
    padding: 0.5rem;
    width: 90%;
    border-radius: 0.4rem;
    border-color: none;
    background: color.$color-activeform-outline-pri;
    color: color.$color-plain-pri;
    display: flex;
    justify-content: start;
    gap: 4.5rem;
  }
}

.comments__container {
  padding: 1rem;
}
