/* Avenir Next Regular - 400 */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/alternative-files/AvenirNextLTPro.ttf")
    format("truetype");
  font-weight: 400;
}

/* Avenir Next Bold - 700 */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/alternative-files/AvenirNextLTProBold.ttf")
    format("truetype");
  font-weight: 700;
}

/*MOBILE TEXT STYLES

Page Header
Text size: 24px | Line height: 32px | Text weight: Bold 700

SECTION HEADER
Text size: 12px | Line height: 20px | Text weight: Bold 
700


Subheader
Text size: 13px | Line height: 18px | Text weight: Bold 700

Body Copy
Text size: 13px | Line height: 18px | Text weight: Regular 400

LABELS & BUTTONS
Text size: 12px | Line height: 20px | Text weight: Bold 700


Desk and tablet TEXT STYLES

Page Header
Text size: 33px | Line height: 44px | Text weight: Bold 700

SECTION HEADER
Text size: 12px | Line height: 20px | Text weight: Bold 700 

Subheader
Text size: 14px | Line height: 22px | Text weight: Bold 700

Body Copy
Text size: 14px | Line height: 22px | Text weight: Regular 400

LABELS & BUTTONS
Text size: 12px | Line height: 20px | Text weight: Bold 700
*/
