//Mobile font mixin
@mixin small-page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@mixin small-section-header {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@mixin small-sub-header {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
}
@mixin small-body-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@mixin small-labels-buttons {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
//Desk and Tablet font mixin
@mixin med-lar-page-header {
  font-size: 2.0625rem;
  line-height: 2.75rem;
  font-weight: 700;
}
@mixin med-lar-section-header {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@mixin med-lar-sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
}
@mixin med-lar-body-copy {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
@mixin med-lar-labels-buttons {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
