@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as color;
@use "../../styles/partials/fonts" as *;

.header {
  font-family: "Avenir";
  padding: 1rem;
  width: 100vw;
  height: 10vh;

  &__logo {
    height: 30%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
  }
  &__search {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    &-box {
      padding-left: 2rem;
      width: 80%;
      background: url("../../assets/Icons/search.svg") no-repeat left;
      color: color.$color-formfield-background-sec;
      background-position: 0.5rem 0.8rem;
      background-size: 1rem;
      border-radius: 0.4rem;
      height: 2.5rem;
      margin-bottom: 1rem;
      border-color: color.$color-divider-form-outline-sec;
    }
  }
  &__avatar {
    background: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
  }

  &__container__btn {
    padding: 0.5rem;
    width: 90%;
    border-radius: 0.4rem;
    border-color: none;
    background: color.$color-activeform-outline-pri;
    color: color.$color-plain-pri;
    display: flex;
    justify-content: start;
    gap: 4.5rem;
  }
}

// display: flex;
//   flex-direction: column;
//   align-items: center;
