@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as color;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixin" as mixin;

.header {
  font-family: "Avenir";
  padding: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  width: 100%;
  height: 10rem;
  max-height: 216px;
  &__container {
    height: 30%;
    &__logo {
      height: 100%;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 1rem;
    }
  }
  &__search {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    &-box {
      padding-left: 2rem;
      width: 80%;
      background: url("../../assets/Icons/search.svg") no-repeat left;
      background-color: color.$color-formfield-background-sec;
      border: 1px solid color.$color-divider-form-outline-sec;

      background-position: 0.5rem 0.8rem;
      background-size: 1rem;
      border-radius: 0.4rem;
      height: 100%;
      // margin-bottom: 1rem      ;
      border-color: color.$color-divider-form-outline-sec;
    }
  }
  &__avatar {
    background: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
  }
  &__container {
    &__btn {
      height: 100%;
      padding-top: 1rem;
    }
    &__btns {
      // padding-top: 1rem ;
      padding: 0.5rem;
      width: 100%;
      border-radius: 0.4rem;
      border: 1px solid color.$color-activeform-outline-pri;
      background: color.$color-activeform-outline-pri;
      color: color.$color-plain-pri;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5rem;
      height: 38%;
      @include mixin.small-labels-buttons;
    }
  }
  .header__avatar-upload {
    display: none;
    background: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
  }
}
//Breakpoints for tablet
@include breakpoint.medium {
  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
      height: 100%;
      &__logo {
        height: 7rem;
        width: 7rem;
        padding-bottom: 1rem;
        position: relative;
        top: -1.25rem;
        right: -1.25rem;
      }
    }
    &__search {
      position: relative;
      right: -7rem;

      &-box {
        margin-top: 1rem;
        width: 55%;
        height: 2.5rem;
        @include mixin.med-lar-body-copy;
      }
    }
    &__avatar {
      position: relative;
      top: 0.5rem;
      right: -12.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    &__container {
      &__btn {
        height: 5rem;
        width: 20rem;
        padding-top: 1rem;
        position: relative;
        top: 1rem;
        right: 4rem;
      }
      &__btns {
        width: 90%;
        border-radius: 0.15rem;
        height: 58%;
        gap: 2rem;
        @include mixin.med-lar-labels-buttons;
      }
    }
  }
  .header__container__btns-img {
    transform: scale(0.8, 0.8);
  }
}
