//@use "./partials/index";
@use "./styles/partials/fonts";

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Avenir";
  line-height: 1.8rem;
  box-sizing: border-box;
  overflow-x: hidden;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕🏽</text></svg>")
      16 0,
    auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//Tablet and Desktop
// .app {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   font-size: 0.5rem;
//   &__container {
//     display: flex;
//   }
//   &__container-left {
//     display: flex;
//     flex-direction: column;
//   }
// }
